/*-- scss:defaults --*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Ottoman+Siyaq&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');



$oxford-blue: #002147;
$oxford-yellow: #F7EF66;
$orange: #ad7237;


$navbar-bg: $oxford-blue;

/* 英文字體、中文字體-- 注意與 mainfont 是否衝突，mainfont 優先 */
$font-family-sans-serif: "Roboto Flex", "Noto Sans TC", sans-serif;



/* Change the color of the website title in the navbar */
.navbar-brand {
  color: #f0f0f0;
  font-size: 30px;
  font-family: "Arial", sans-serif;
}

/* Example: Change the background color of the navbar */
.navbar {
  background-color: #f0f0f0;
}

/* Example: Change the text color of navbar links */
.navbar-nav .nav-link {
  color: #f0f0f0;
}

/* Example: Change the font size of the navbar */
.navbar-nav .nav-link {
  font-size: 1.2rem;
}

/* Example: Change the font family of the navbar */
.navbar-nav .nav-link {
  font-family: "Arial", sans-serif;
}

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 90px;
  width: auto;
}

.blockquote {
    border-left: 5px solid #33ccff; /* Example: Blue line */
    background-color: #dcf5ff;
}


/* 預設展開所有程式區塊 */
.cell-output-display pre, .cell-output-display div.sourceCode {
  display: block !important;
}

/* 隱藏程式區塊的折疊按鈕 */
.code-fold-btn {
  display: none !important;
}

/* 確保內容始終顯示 */
.cell > .sourceCode, .cell > .cell-output {
  display: block !important;
}

/* 修改後的偽代碼區塊樣式 */
.pseudo-code {
  background-color: #f5f5f5;
  padding: 0.3em 0.5em;
  border-radius: 0px;
  white-space: pre-wrap;  /* 改為 pre-wrap 允許自動換行 */
  word-break: break-word; /* 防止長單詞溢出 */
  line-height: 1.5;       /* 增加行高容納數學符號 */
  margin: 0.5em 0;
}
